@import url('https://fonts.googleapis.com/css?family=Orbitron');
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(235, 231, 231);
    font-family:'Orbitron';
}
.calculator {
    margin: 0 auto;
    max-width: 350px;
    border: 2px solid #111;
    border-radius: 5px;
    background-color:rgb(89, 83, 94);
    box-shadow: 3px 2px 2px rgb(110, 110, 110);
}
.number-button {
    color: white;
    background-color: rgb(139, 139, 139);
    border: 1px solid #111;
    padding: 20px;
    font-family: 'Orbitron';
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;

}
.number-button:active {
    background-color:rgb(190, 190, 190)
}
.operator-button {
    background: rgba(0, 0, 0, 0.5);
    color: #EEE;
    border: 1px solid #111;
    padding: 20px;
    font-family: 'Orbitron';
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;

}
.operator-button:active {
    background-color:#949496;
}
.delete {
    background: #773434;
    border: 1px solid #111;
    padding: 20px;
    font-family: 'Orbitron';
    color: #EEE;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;

}
.delete:active {
    background: #9c4343;
}
.punto {
    color: white;
    background-color: rgb(139, 139, 139);
    border: 1px solid #111;
    padding: 20px;
    font-family: 'Orbitron';
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;

}
.punto:active {
    background-color:rgb(190, 190, 190)
}
#display   {
    font-family: 'Orbitron';
    padding: 5%;
    width: 95%;
    min-height: 17vh;
    border: 2px solid #111;
    color: #333;
    margin: 10px;
    text-align: right;
    word-wrap: break-word;
    font-size: 40px;
    border-radius: 0;
    background-color: rgb(108, 139, 113);
  }
.calculator-buttons {
    padding: 15px;
    font-family: 'Orbitron';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 6px;
}
.clear { 
    grid-column: span 2;
    background: #773434;
    border: 1px solid #111;
    padding: 20px;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Orbitron';
}
.clear:active {
    background: #9c4343;
}
.zero {  
    font-family: 'Orbitron';
    grid-column: span 2;
    border: 1px solid #111;
    padding: 20px;
    color: white;
    background-color: rgb(139, 139, 139);
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}
.zero:active {
    background-color:rgb(190, 190, 190)
}
.equals {
    background: rgba(0, 0, 0, 0.5);
    color: #EEE;
    font-family: 'Orbitron';
    border: 1px solid #111;
    padding: 20px;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    
}
.equals:active {
    background-color:#949496;
}
